body {

    background-color: black;
    font-family: serif;

    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    background-color: white;
    list-style: none;/*los punticos*/
    margin: 0; /*el margen con respecto al contenedor de afuera*/
    padding: 0;/*el relleno entre el contenido y la caja*/
}

li{
    background-color: chocolate;
    border: dashed black;
    padding: 0.3rem 0.7rem;
}

ul {
    display: flex;
}